@using Proyecto_MAUI_Parte_2_Rick_And_Morty.Models;
@using System.Net.Http.Json;
@inject NavigationManager NavigationManager

@*Inserción del logo*@
<img class="mt-5 responsive-img" src="/imagenes/Rick_and_Morty_Logo.png" alt="Rick and Morty Logo" />

@if (rmData != null)
{
    @*Dropdown de personajes*@

    <div class="input-group mb-5 mt-5">
        <div>
            <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="restar" href="/@pag"> @anterior </button>
        </div>
        @*<input type="text" @bind=personaje placeholder="Select a character, location or episode" />*@
        <select class="form-control" name="select" @onchange="insertarPersonaje">
            @for (int i = 0; i < 20; i++)
            {
                <option value="@i">@rmData.results[i].name</option>
            }
        </select>
        @*<div>
    <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="()=>insertarPersonaje()">Search</button>
    </div>*@
        <div>
            <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="sumar" href="/@pag"> @posterior </button>
        </div>
    </div>
}
@if (nombre2 != null && insertado == 0)
{
    nombre = nombre2;
    estado = estado2;
    especie = especie2;
    genero = genero2;
    img = rutaimg + img2 + ".jpeg";
    insertado++;
}
@if (nombre.Equals(""))
{
    @*Imagen del personaje*@
    <img class="mt-5 imgRedonda" src="/imagenes/Rick.jpg" alt="Rick" />
}
else
{
    <RickMortyCard name="@nombre"
                   status="@estado"
                   species="@especie"
                   gender="@genero"
                   image="@img"></RickMortyCard>
}

@code {
    String personaje = "";
    RickMortyModel? rmData;
    HttpClient Client = new HttpClient();
    Boolean error = false;
    String anterior = "<<<";
    String posterior = ">>>";
    int pag = 1;
    int insertado = 0;
    [Parameter]
    public string? pag2 { get; set; }
    //Los personajes van del id 1 al 826
    async Task GetRMCharacter()
    {
        try
        {

            if (pag2 != null)
            {
                pag = int.Parse(pag2);
                rmData = await Client.GetFromJsonAsync<RickMortyModel>(EndPoint.GetRMChar(pag));
            }
            else
            {
                rmData = await Client.GetFromJsonAsync<RickMortyModel>(EndPoint.GetRMChar(pag));
            }
        }
        catch (Exception ex)
        {
            error = true;
        }

    }
    String nombre = "";
    String estado = "";
    String especie = "";
    String genero = "";
    String img = "";
    String rutaimg = "https://rickandmortyapi.com/api/character/avatar/";

    [Parameter]
    public String? nombre2 { get; set; }
    [Parameter]
    public String? estado2 { get; set; }
    [Parameter]
    public String? especie2 { get; set; }
    [Parameter]
    public String? genero2 { get; set; }
    [Parameter]
    public String? img2 { get; set; }

    public void insertarPersonaje(ChangeEventArgs e)
    {
        int id = Convert.ToInt32(e.Value);
        nombre = @rmData.results[id].name;
        estado = @rmData.results[id].status;
        especie = @rmData.results[id].species;
        genero = @rmData.results[id].gender;
        img = @rmData.results[id].image;
    }

    protected override async Task OnInitializedAsync()
    {

        await GetRMCharacter();
    }

    public void restar()
    {
        if (pag > 1)
        {
            pag--;
            InvokeAsync(GetRMCharacter);
            InvokeAsync(StateHasChanged);
            String numimg = img.Split("/")[img.Split("/").Length - 1].Replace(".jpeg", "");
            img = numimg;
            NavigationManager.NavigateTo($"/{pag}/{nombre}/{estado}/{especie}/{genero}/{img}", forceLoad: true);
        }
    }

    public void sumar()
    {
        if (pag < 42)
        {
            pag++;
            InvokeAsync(GetRMCharacter);
            InvokeAsync(StateHasChanged);
            String numimg = img.Split("/")[img.Split("/").Length - 1].Replace(".jpeg", "");
            img = numimg;
            NavigationManager.NavigateTo($"/{pag}/{nombre}/{estado}/{especie}/{genero}/{img}", forceLoad: true);
        }
    }
}

    @*Para que la imagen sea resposive y las imagenes sea obaladas*@
<style>
    .responsive-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imgRedonda {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 160px;
        border: 10px solid #C3DD3F;
    }

</style>

