@using Proyecto_MAUI_Parte_2_Rick_And_Morty.Models;
@using System.Net.Http.Json;

@*Inserción del logo*@
<img class="mt-5 responsive-img" src="/imagenes/Rick_and_Morty_Logo.png" alt="Rick and Morty Logo" />

@if (rmData != null)
{
    @*Dropdown de personajes*@
    <div class="input-group mb-5 mt-5">

        @*<input type="text" @bind=personaje placeholder="Select a character, location or episode" />*@
        <select class="form-control" name="select" @onchange="insertarPersonaje">
            @for (int i = 0; i < nPersonajes; i++)
            {
                <option value="@rmData.results[i].id">@rmData.results[i].name</option>
            }
        </select>
        @*<div>
    <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="()=>insertarPersonaje()">Search</button>
    </div>*@
    </div>
}
@if (nombre.Equals(""))
{
    @*Imagen del personaje*@
    <img class="mt-5 imgRedonda" src="/imagenes/Rick.jpg" alt="Rick" />
}
else
{
    <RickMortyCard name="@nombre"
                   status="@estado"
                   species="@especie"
                   gender="@genero"
                   image="@img"></RickMortyCard>
}

@code {
    String personaje = "";
    RickMortyModel? rmData;
    HttpClient Client = new HttpClient();
    Boolean error = false;
    int cont = 0;
    int nPersonajes = 20;
    //Los personajes van del id 1 al 826
    async Task GetRMCharacter()
    {
        try
        {
            rmData = await Client.GetFromJsonAsync<RickMortyModel>(EndPoint.GetRMChar());
            cont++;
        }
        catch (Exception ex)
        {
            error = true;
        }
    }
    String nombre = "";
    String estado = "";
    String especie = "";
    String genero = "";
    String img = "";

    public void insertarPersonaje(ChangeEventArgs e)
    {
        int id = Convert.ToInt32(e.Value)-1;
        nombre = @rmData.results[id].name;
        estado = @rmData.results[id].status;
        especie = @rmData.results[id].species;
        genero = @rmData.results[id].gender;
        img = @rmData.results[id].image;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetRMCharacter();
    }

}

    @*Para que la imagen sea resposive y las imagenes sea obaladas*@
<style>
    .responsive-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imgRedonda {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 160px;
        border: 10px solid #C3DD3F;
    }

</style>

