@using Proyecto_MAUI_Parte_2_Rick_And_Morty.Models;
@using System.Net.Http.Json;

@*Inserción del logo*@
<img class="mt-5 responsive-img" src="/imagenes/Rick_and_Morty_Logo.png" alt="Rick and Morty Logo" />

@if (rmData != null)
{
    @*Dropdown de personajes*@

    <div class="input-group mb-5 mt-5">
        <div>
            <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="restar"> @anterior </button>
        </div>
        @*<input type="text" @bind=personaje placeholder="Select a character, location or episode" />*@
        <select class="form-control" name="select" @onchange="insertarPersonaje">
            @for (int i = nPersonajesCont; i < nPersonajes; i++)
            {
                <option value="@rmData.results[i].id">@rmData.results[i].name</option>
            }
        </select>
        @*<div>
    <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="()=>insertarPersonaje()">Search</button>
    </div>*@
        <div>
            <button style="background-color:#3FB2BF" class="btn btn-outline-secundary" type="button" @onclick="sumar"> @posterior </button>
        </div>
    </div>
}
@if (nombre.Equals(""))
{
    @*Imagen del personaje*@
    <img class="mt-5 imgRedonda" src="/imagenes/Rick.jpg" alt="Rick" />
}
else
{
    <RickMortyCard name="@nombre"
                   status="@estado"
                   species="@especie"
                   gender="@genero"
                   image="@img"></RickMortyCard>
}

@code {
    String personaje = "";
    RickMortyModel? rmData;
    HttpClient Client = new HttpClient();
    Boolean error = false;
    String anterior = "<<<";
    String posterior = ">>>";
    int nPersonajesCont = 0;
    int nPersonajes = 20;

    //Los personajes van del id 1 al 826
    async Task GetRMCharacter()
    {
        try
        {
            rmData = await Client.GetFromJsonAsync<RickMortyModel>(EndPoint.GetRMChar());
        }
        catch (Exception ex)
        {
            error = true;
        }

    }
    String nombre = "";
    String estado = "";
    String especie = "";
    String genero = "";
    String img = "";

    public void insertarPersonaje(ChangeEventArgs e)
    {
        int id = Convert.ToInt32(e.Value) - 1;
        nombre = @rmData.results[id].name;
        estado = @rmData.results[id].status;
        especie = @rmData.results[id].species;
        genero = @rmData.results[id].gender;
        img = @rmData.results[id].image;


    }

    protected override async Task OnInitializedAsync()
    {
        await GetRMCharacter();
    }

    public void restar()
    {
        InvokeAsync(GetRMCharacter);
        if (nPersonajesCont - 20 <= 0)
        {
            nPersonajesCont = 0;
            nPersonajes = 20;
        }
        else if (nPersonajes == 826)
        {
            nPersonajesCont = 800;
            nPersonajes = 820;
        }
        else
        {
            nPersonajesCont = nPersonajesCont - 20;
            nPersonajes = nPersonajes - 20;
        }


    }

    public void sumar()
    {
        InvokeAsync(GetRMCharacter);
        if (nPersonajesCont + 20 > 826)
        {
            nPersonajesCont = 820;
            nPersonajes = 826;
        }
        else if (nPersonajes == 820)
        {
            nPersonajesCont = 820;
            nPersonajes = 826;
        }
        else
        {
            nPersonajesCont = nPersonajesCont + 20;
            nPersonajes = nPersonajes + 20;
        }

    }
}

    @*Para que la imagen sea resposive y las imagenes sea obaladas*@
<style>
    .responsive-img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .imgRedonda {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 160px;
        border: 10px solid #C3DD3F;
    }

</style>

